@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}
body {
  @apply font-oswald text-lg;
}
.container {
  @apply max-w-[85rem] mx-auto w-full;
}
li {
  @apply list-none;
}

@layer base {
  /* ------------------------------HEADER--------------------------------- */
  .header {
    @apply fixed w-full z-[999];
  }
  .header__wrapper {
    @apply flex flex-col p-5 bg-light;
  }
  .branding {
    @apply flex items-center justify-between mb-3;
  }
  .branding h3 {
    @apply hidden text-sm items-center justify-center gap-2 
    md:flex;
  }
  .branding h3 i {
    @apply text-primary;
  }
  .header__info h3 {
    @apply flex items-center justify-center gap-2 text-sm mb-3
    md:hidden;
  }
  .header__info i {
    @apply text-primary;
  }
  .header__nav {
    @apply flex justify-between items-end
    md:grid md:grid-cols-[_4fr,_0.5fr,_.5fr] md:w-[100%] md:mx-auto md:justify-self-center;
  }
  .header__nav ul.nav {
    @apply absolute text-left flex flex-col gap-4 items-center justify-center top-0 right-[-80rem] w-screen h-screen bg-light transition-all duration-500
    md:static md:bg-transparent md:flex-row md:w-[auto] md:h-auto md:justify-end md:text-sm md:items-center md:translate-x-[-16rem]
    /* @apply absolute flex flex-col px-8 gap-8 text-left text-3xl justify-center w-screen h-screen top-0 right-[-100rem] bg-light transition-all duration-500 */;
  }
  /* md:right-0 md:static md:bg-transparent md:flex md:flex-row  md:items-end md:text-sm md:h-6; */
  .header__nav ul.nav.open {
    @apply transition-all duration-500 right-0 max-h-screen;
  }
  .header__nav ul.nav li a {
    @apply text-left;
  }
  .header__nav .social,
  .header__nav .action {
    @apply flex gap-6
    md:justify-end;
  }
  .header__nav li a:hover {
    @apply text-primary transition-all duration-300;
  }

  .toggle__menu {
    @apply bg-primary p-3 flex flex-col items-center gap-1 justify-center rounded-md z-50
    md:hidden;
  }
  .toggle__menu span {
    @apply w-5 h-1 bg-light block rounded-sm;
  }

  /* ---------------------------------BANNER-------------------------------------- */
  .banner {
    @apply mx-2 translate-y-[15rem] md:translate-y-[10rem];
  }
  .banner .container {
    @apply relative z-[-10] h-[750px] bg-center bg-banner bg-cover flex items-center;
  }
  .banner__wrapper .banner__text {
    @apply ml-10 md:ml-48;
  }
  .banner__wrapper .info {
    @apply md:translate-x-16 md:translate-y-[-3rem];
  }
  .banner__text .info h1 {
    @apply md:text-6xl;
  }
  .banner__text h1,
  .banner__text p {
    @apply text-light;
  }
  .banner__text h1 {
    @apply text-light text-5xl;
  }
  .banner__text p {
    @apply font-light mb-8;
  }
  .banner__text a {
    /* @apply text-light text-sm font-light bg-primary py-3 px-14 text-center rounded-full transition-all; */
    @apply w-[10rem];
  }
  .banner__text a:hover {
    @apply transition-all bg-light text-primary;
  }

  /* ---------------------BEST PRICE SECTION-------------------------------- */
  .food {
    @apply mx-2 translate-y-[20rem]
    md:translate-y-[15rem];
  }
  .food__wrapper {
    @apply flex flex-col items-center
    md:flex-row md:gap-5;
  }
  .food__wrapper img {
    @apply inline-block max-w-full h-auto;
  }
  .bestPrice {
    @apply flex flex-col justify-center;
  }
  .bestPrice h2 {
    @apply text-5xl font-normal tracking-widest mb-5;
  }
  .bestPrice .stars {
    @apply flex gap-3 text-primary mb-5;
  }
  .bestPrice .stars li:nth-child(4),
  .bestPrice .stars li:last-child {
    @apply text-gray-500 opacity-15;
  }
  .bestPrice p {
    @apply mb-9 text-sm leading-8 tracking-widest text-gray-500 font-montserrat;
  }
  .standardWrapper {
    @apply flex justify-around items-baseline mb-14
    md:justify-start md:gap-14;
  }
  .standardWrapper .standard {
    @apply flex flex-col items-center;
  }
}

@layer components {
  .btn {
    @apply inline-block p-3 rounded-full text-center text-light;
  }
}
